.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__nav {
  display: flex;
  justify-content: space-evenly;
}
.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
  color: white;
  cursor: pointer;
}
.header__option__firstLine {
  font-size: 12px;
}
.header__option__secondLine {
  font-size: 15px;
  font-weight: 800;
}
.header__link {
  text-decoration: none;
  color: white;
}
