.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px);
}
.login__container {
  width: 280px;
  background-color: white;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
  color: #656565;
}
.login__container h1 {
  font-weight: 500;
  margin-bottom: 20px;
}
.login__container form h5 {
  margin-bottom: 5px;
}
.login__container form input {
  height: 30px;
  margin-bottom: 10px;
  width: calc(100% - 27px);
  padding-left: 20px;
  outline: none;
}
.login__container p {
  margin-top: 15px;
  font-size: 12px;
}
.login__singin__button {
  background: #f0c14b;
  border-color: #a88734 #9c7e31 #846a29;
}
.login__container button {
  border: 1px solid darkgray;
  margin-top: 10px;
  padding: 7px;
  border-radius: 3px;
  width: 100%;
  cursor: pointer;
  outline: none;
}
.login__container button:hover {
  background: #e9d49f;
}
.login__container button:active {
  background: #eccb79;
}
